@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #E11D48;
  --color-primary-hover: #BE123C;
  --color-secondary: #FB7185;
  --color-background: #FEF3F2;
  --color-text: #3F3F46;
  --color-text-muted: #78716C;
  --color-success: #65A30D;
  --color-warning: #D97706;
  --color-critical: #9F1239;

  /* Font */
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-text);
}
